FrogFind/Bin/Debug/MDIL/FrogFind.dll
FrogFind/Bin/Debug/MDIL/FrogFind.dll
FrogFind/Bin/Debug/FrogFind_Browser_Beta_AnyCPU.xap
FrogFind/Bin/Debug/FrogFind.pdb
FrogFind/Bin/Debug/FrogFind.dll
FrogFind/obj/Debug/FrogFind.dll
FrogFind/obj/Debug/FrogFind.pdb
FrogFind/obj/Debug/MDIL/MDILXapCompileLog.txt
